<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false" *ngIf="authService.isAuth()" >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/">Home</a>
      <a mat-list-item routerLink="favourite">Favourite</a>
      <a mat-list-item routerLink="/watch-later">Watch Later</a>
      <a mat-list-item routerLink="/watched">Watched</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        *ngIf="isHandset$ | async"
        
        >
        <!-- (click)="drawer.toggle()" -->
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span><a routerLink="">Binge-Watch</a></span>
      <!-- <span></span> -->
      <div class="btn-add">
        <button *ngIf="authService.showAdd()"  mat-button (click)="gotoAddMovie()">Add Movie</button>
      </div>
      <div class="btn-prime">
        <button *ngIf="authService.isPrime()"  mat-button>Prime</button>
      </div>
      <div class="btn-prime">
        <button *ngIf="!authService.isPrime()" (click)="authService.joinPrime()"  mat-button>Join Prime</button>
      </div>
      <div class="btn-login">
      <button  *ngIf="!authService.isAuth()" mat-button (click)="logoutUser()">Login</button>
      <button  *ngIf="authService.isAuth()" mat-button>Welcome! {{userName}}</button>
      <button  *ngIf="authService.isAuth()" mat-button (click)="logoutUser()">Logout</button>
    </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
