.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.btn-login {
  position: fixed;
  right: 23px;
}

span a {

    color: #fff;
    text-decoration: none;
}

span a:hover {
    color:#fefefe; 
    text-decoration:none; 
    cursor:pointer;  
}

.btn-add {
  position: fixed;
  right: 50%;
}

